include CHANGELOG.md
include CITATION.cff
include CONTRIBUTING.md
include LICENSE
include README.md
include SECURITY.md
include pyproject.toml
graft docs
graft protocols
global-exclude __pycache__
global-exclude *.py[cod]
global-exclude .DS_Store
